* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: tomato;
  text-shadow: white 1px 1px;
}

.navbar {
  background-color: darkseagreen;
  border-bottom: darkolivegreen 5px solid;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Balsamiq Sans', cursive;
  color: maroon;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-toggler {
  border: #28a745 2px solid;
  margin-right: 15px;
}

.navbar-toggler:focus, .navbar-toggler:hover {
  background-color: darkolivegreen;
}

.nav-link {
  border-bottom: darkolivegreen 3px solid;
  background-color: greenyellow;
  width: 100%;
}

h2 {
  font-family: 'Dancing Script', cursive;
  color: tomato;
  margin-top: 25px;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Pangolin', cursive;
  color: tomato;
}

.row {
  margin: 0 auto;
}

.section {
  font-family: 'Balsamiq Sans', cursive;
  border: 1px solid black;
  padding: 0 27px 0;
  background-color: aquamarine;
  float: left;
  margin-bottom: 20px;
}
