* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: tomato;
  text-shadow: white 1px 1px;
}

.navbar {
  background-color: darkseagreen;
  border-bottom: darkolivegreen 5px solid;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#menu-categories-title {
  font-family: 'Pangolin', cursive;
  color: darkolivegreen;
  margin-top: 30px;
  margin-bottom: 60px;
}

h3 {
  font-family: 'Pangolin', cursive;
}

.section {
  font-family: 'Balsamiq Sans', cursive;
  border: 1px solid black;
  padding: 0 27px 0;
  background-color: aquamarine;
  float: left;
  margin-bottom: 20px;
}

.row {
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

@media (max-width: 991px) {

}

@media (max-width: 767px)  {

}
