* {
  font-family: "Book Antiqua", fantasy;
  box-sizing: border-box;
}

h1 {
  font-size: 175%;
  text-align: center;

}

.section {
  border: 1px solid black;
  padding: 0 27px 0;
  background-color: antiquewhite;
  margin-right: 20px;
  width:calc((95%-40px)/3);
  float: left;
}

.section:last-child {
  margin: 0;
}

.wrapper {
  margin-right: -28px;
  margin-top: -1px;
  text-align: right;
}

.label {
  display: inline-block;
  font-size: 125%;
  text-align: center;
  border: 1px solid black;
  width: 120px;
  padding: 5px 10px;
  }

.section:first-child .label {
  background-color: chocolate;
}

.section:nth-child(2) .label {
  background-color: darkcyan;
  color: white;
}

.section:last-child .label {
  background-color: greenyellow;
}

.row {
  width: 95%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

@media (max-width: 991px) {
  .section:nth-child(2) {
    margin: 0;
    width: calc((97% - 20px) / 2);
  }

  .section:first-child {
    width: calc((97% - 20px) / 2);
  }

  .section:last-child {
    margin-right: 0;
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 767px)  {
  .row .section {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-top: 20px;
  }
}
